<div class="container create-community-page">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="create-community-container">
        <div class="create-community-header">
          <div>
            <h2>Create Community</h2>
            <p>Start a space for people to gather around a shared interest.</p>
          </div>
        </div>
        <form class="post-form" [formGroup]="createCommunityForm" (ngSubmit)="createCommunity()">
          <div class="form-group">
            <label class="form-label" for="community-name">Community name</label>
            <input
              id="community-name"
              type="text"
              formControlName="name"
              class="form-control"
              placeholder="Add a unique community name"
              maxlength="100"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="community-description">Description</label>
            <textarea
              id="community-description"
              formControlName="description"
              class="form-control description-area"
              placeholder="Describe what people can expect here"
              maxlength="500"
            ></textarea>
          </div>
          <div class="form-footer">
            <button type="button" (click)="discardCommunity()" class="btnDiscard">Discard</button>
            <button class="btnCreateCommunity">Create</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="sidebar">
        <h5 class="guidelines">Posting to PostIt...</h5>
        <hr />
        <ul>
          <li>Please be nice to others</li>
          <hr />
          <li>Post according to community rules</li>
          <hr />
          <li>Do NOT post illegal content!</li>
          <hr />
        </ul>
      </div>
    </div>
  </div>
</div>
