<div class="container">
  <div class="row">
    <div class="create-subreddit-container">
      <form class="post-form" [formGroup]="createSubredditForm" (ngSubmit)="createSubreddit()">
        <div class="form-group">
          <div class="create-subreddit-heading">Create Subreddit</div>
          <hr />
          <input
            type="text"
            [formControlName]="'title'"
            class="form-control"
            style="margin-top: 5px"
            placeholder="Title"
          />
          <textarea
            type="text"
            [formControlName]="'description'"
            style="width: 100%; margin-top: 5px; min-height: 150px;"
            placeholder="Description"
          ></textarea>
          <div>
            <div style="margin-top: 5px" class="float-right">
              <button (click)="discard()" class="btnDiscard">Discard</button>
              <button class="btnCreateSubreddit">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="sidebar col-md-3">
      <h5 class="guidelines">Posting to PostIt...</h5>
      <hr />
      <ul>
        <li>Please be nice to others</li>
        <hr />
        <li>Post according to subreddit rules</li>
        <hr />
        <li>Do NOT post illegal content!</li>
        <hr />
      </ul>
    </div>
  </div>
</div>
