<div class="sidebar">
  <img id="space-image" src="rocket-7774875_640.png" alt="milky-way" />
  <div style="text-align: center; font-size: 1em; padding-top: 3px; padding-bottom: 6px;">
    Welcome to the PostIt home page! Feel free to relax and check in with your favorite subreddits...
  </div>
  <div style="text-align: center">
    <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Create Subreddit</button>
  </div>
</div>
