<div class="container">
  <div>
    <b>{{ name }}'s activity!</b><br />
    {{ name }} has posted <b>{{ postLength }}</b> time(s) and commented <b>{{ commentLength }}</b> time(s). Here are all their
    posts and comments...
  </div>
  <hr />
  <div class="fs-3">Your Posts</div>
  <app-post-tile [posts]="posts" [useProvidedPosts]="true"></app-post-tile>
  <hr />
  <div class="fs-3 mb-3">Your Comments</div>
  <div *ngFor="let comment of comments">
    <div class="comment">
      <div class="username">
        <a [routerLink]="['/user-profile', comment.userName]">{{ comment.userName }}</a>
      </div>
      <div>
        <p>{{ comment.createdDate }}</p>
      </div>
      <b>{{ comment.text }}</b>
    </div>
    <hr />
  </div>
</div>
