<div>
  <div class="row post" *ngFor="let post of postsFiltered">
    <div class="col-md-1">
      <app-vote-button [post]="post"></app-vote-button>
    </div>
    <div class="col-md-11">
      <span class="subreddit-info">
        <span class="subreddit-text"><span class="posturl">{{ post.communityName }}</span></span>
        <span>
          . Posted
          <span> {{ post.duration }} </span>
          by
          <a class="username" [routerLink]="['/user-profile', post.userName]">{{ post.userName }}</a>
        </span>
      </span>
      <hr />
      <a [routerLink]="['/view-post', post.postId]" class="post-title">{{ post.postName }}</a>
      <div>
        <p class="post-text" [innerHtml]="post.description"></p>
      </div>
      <div>
        <p class="post-comment">
          <fa-icon [icon]="faComments"></fa-icon>
          Comments({{ post.commentCount }})
        </p>
        <button class="login" (click)="goToPost(post.postId)">Read post</button>
      </div>
    </div>
  </div>
</div>
